<%- include('../partials/header') %>
<h3 class="title">My Recipes</h3>
<div class="indexTable">
    <%recipes.forEach((recipe, idx) => { %>
    <div class="recipeCard">
            <div class="cardTitle"><a href="/recipes/<%=recipe._id%>"><span class="title"><%=recipe.title%></a></span></div>
        <div><span class="label">App Framework: </span><%=recipe.appServer%></div>
        <div><span class="label">Description: </span><%=recipe.description%></div>
        <div class="tools">
                <div><span class="label">By:</span> <%=recipe.author%></div>
                <div class="votes">
                <button class="crudBtn"> 57 </button>
                <button class="crudBtn"> 👍</button>
                </div>
            <form 
                class="crudBtn"
                method="POST"
                action="/account/<%=recipe._id %>?_method=DELETE" 
            >
                <button type="submit"><i class="fa      fa-trash" aria-hidden="true"></i></button>
            </form>
            <form
                class="crudBtn" 
                method="GET"
                action="/recipes/<%=recipe._id %>/edit" 
            >
                <button type="submit" >✏️</button>
            </form> 
        </div>
    </div>    
    <%})%>
</div>
    
<%- include('../partials/footer') %>