<%- include('../partials/header') %>
<div class="area">
    <h3 class="title">My Recipes</h3>
<div class="indexTable">
        <form 
        method="GET"
        action="/recipes/newRecipe" 
        >
        <button type="submit">Add recipe</button>
        </form>
    <%recipes.forEach((recipe, idx) => { %>
    <div class="recipeCard">
        <div class="cardTitle">
                <a href="/account/<%=recipe._id%>"><%=recipe.title%></a>
        </div>
        <div>
        </div>
        <div><span>App Framework: </span><%=recipe.appServer%></div>
        <div><span>Description: </span><%=recipe.description%></div>
        <div class="tools">
            <form 
                class="crudBtn"
                method="POST"
                action="/account/<%=recipe._id %>?_method=DELETE" 
            >
                <button type="submit"><i class="fa      fa-trash" aria-hidden="true"></i></button>
            </form>
            <form
                class="crudBtn" 
                method="GET"
                action="/recipes/<%=recipe._id %>/edit" 
            >
                <button type="submit" >Edit</button>
            </form> 
        </div>
    </div>    
    <%})%>
</div>
    
<%- include('../partials/footer') %>