<%- include('../partials/header_guest') %>

<h3>Recipes Index</h3>
<div class="indexTable">
    <%recipes.forEach((recipe, idx) => { %>
    <div class="recipeCard">       
        <div class="cardTitle"><a href="/recipes/<%=recipe._id%>"><span><%=recipe.title%></a></span></div>
        <div><span class="label">Desription:</span> <%=recipe.description%></div>
        <div><span class="label">App Framework:</span> <%=recipe.appServer%></div>
        <div><span class="label">Author:</span> <%=recipe.author%></div>
    </div>    
    <%})%>
</div>
    
<%- include('../partials/footer') %>