<%- include('../partials/header') %>
<h1>Newly Added Recipe</h1>
<ul>   
    <li>Title: <%=recipe.title%> </li>

    <li>Category: <%=recipe.category%></li>
    <li>Description: <%=recipe.description%></li>
    <li>Web Server: <%=recipe.webServer%></li>
    <li>Application Framework: <%=recipe.appServer%></li>
    <li>Database: <%=recipe.database%></li>
    <li>Host: <%=recipe.appHost%></li>

</ul>   
<h2>Enter new instruction</h2>
<form method="POST" action="/recipes/<%= recipe._id %>/instructions">
    <label>Code:
        <input type="text" name="code" >
    </label>
    <button type="submit">Save</button>
</form>
<h2>Instructions:</h2>
<ul>
    <li>Instructions: <%=instructions%></li>
</ul>

<%- include('../partials/footer') %>